.what-you-get {
    background-image: url("../assets/images/what_you_get/Background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.what-you-get .main-section__text {
    font-family: 'OpenSans';
    text-align: left;
    color: white;
    padding-left: 15%;
    padding-top: 12%;
}

.what-you-get .main-section__text .text-header {
    font-size: 4vw;
    margin-bottom: 5px;
}

.what-you-get .main-section__text .text-main {
    width: 80%;
    font-size: 1.2vw;
    margin-bottom: 50px;
}

.what-you-get .main-section__text .get-it-now-button {
    background-color: rgb(103, 230, 224);
    left: 491px;
    top: 2369px;
    width: 138px;
    height: 46px;
    z-index: 187;
    margin-bottom: 10vw;
}
