@media screen and (max-width: 1200px) {
    .info-blocks{
        width: 300px;
        margin: auto;
        display: block;
    }
    .info-block{
        margin: auto;
    }
    
    .info-images{
        width: 386px;
        display: block;
    }
    
    .team-photos{
        width: 375px;
        display: block;
    }
}